table {border: solid 1px; border-collapse: collapse; table-layout: auto; }
        th {border: solid 1px; text-align: center}
        td {border: solid 1px; text-align: center}
th.ta1 {width: 20px;}
th.ta2 {width: 100px;}
th.ta3 {width: 100px;}
th.ta4 {width: 100px;}
th.ta5 {width: 100px;}
th.ta6 {width: 100px;}
th.ta7 {width: 100px;}
input {width: 70px;}
input.ta8 {width: 20px;}

